<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <property name="LOG_DIR" value="logs" />

     <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
          <encoder>
               <pattern>
                    %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level
                    %logger{36}.%M - %msg%n
               </pattern>
          </encoder>
     </appender>

     <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
          <file>${LOG_DIR}/creditcardservice.log</file>
          <encoder
               class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
               <Pattern>
                    %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level
                    %logger{36}.%M - %msg%n
               </Pattern>
          </encoder>

          <rollingPolicy
               class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
               <!-- rollover daily & on size -->
               <maxFileSize>100MB</maxFileSize>
               <fileNamePattern>
                    ${LOG_DIR}/archived/creditcardservice_%d{dd-MM-yyyy}_%i.log
               </fileNamePattern>
               <maxHistory>30</maxHistory>
               <totalSizeCap>10GB</totalSizeCap>
          </rollingPolicy>

     </appender>


     <springProfile name="bat">
          <root level="info">
               <appender-ref ref="SAVE-TO-FILE" />
          </root>
          <logger
               name="org.springframework.web.filter.CommonsRequestLoggingFilter">
               <level value="DEBUG" />
          </logger>
          <logger name="com.mybank.creditcardservice" additivity="false"
               level="info,debug">
               <appender-ref ref="SAVE-TO-FILE" />
          </logger>
     </springProfile>

     <springProfile name="uat2">
          <root level="info,debug">
               <appender-ref ref="SAVE-TO-FILE" />
          </root>
          <logger
               name="org.springframework.web.filter.CommonsRequestLoggingFilter">
               <level value="DEBUG" />
          </logger>
          <logger name="com.mybank.creditcardservice" additivity="false"
               level="info,debug">
               <appender-ref ref="SAVE-TO-FILE" />
          </logger>
     </springProfile>

     <springProfile name="dev">
          <root level="info,debug">
               <appender-ref ref="STDOUT" />
               <appender-ref ref="SAVE-TO-FILE" />
          </root>
          <logger
               name="org.springframework.web.filter.CommonsRequestLoggingFilter">
               <level value="DEBUG" />
          </logger>
          <!-- <logger name="com.mybank.creditcardservice" additivity="false" level="info,debug">
               <appender-ref ref="STDOUT" /> <appender-ref ref="SAVE-TO-FILE" /> </logger> 
               <logger name="org.springframework.boot.SpringApplication" additivity="false" 
               level="debug"> <appender-ref ref="STDOUT" /> </logger> -->
     </springProfile>

     <springProfile name="prod">
          <root level="info">
               <appender-ref ref="SAVE-TO-FILE" />
          </root>
          <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
               <level value="DEBUG" />
          </logger>
          <logger name="com.mybank.creditcardservice" additivity="false"
               level="info,debug">
               <appender-ref ref="SAVE-TO-FILE" />
          </logger>
     </springProfile>

</configuration>